
@media (max-width: 1200px) {
  .banner {
    min-height: 500px;
    &__wrapper {
      padding-top: 80px;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    min-height: 400px;

  }
}

@media (max-width: 768px) {
  .banner {
    &__wrapper {
      padding-top: 55px;
      padding-bottom: 75px;
    }

  }
}