@media (max-width: 1200px) {
  .service {
    padding-top: 60px;
    padding-bottom: 60px;
    .title16 {
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
  .service {
    .title16 {
      font-size: 16px;
    }
  }
}


@media (max-width: 768px) {
  .service {
    padding-top: 35px;
    padding-bottom: 55px;
    .title16 {
      font-size: 16px;
    }
    &__head {
      height: 80px;
    }
  }
}