.service {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 85px;
  &__accordion {
    margin-top: 35px;
  }
}

.service2 {
  padding-top: 50px;
  padding-bottom: 110px;
  background: #FCFCFC;
  .accordion__item:first-child {
    border-top: none;
  }
  .accordion__item {
    .title16 {
      color: #565656;
    }
  }
}