@media (max-width: 1580px) {
  .get {
    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
    }
    &__input {
      max-width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .get {
    &__btn {
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .get {
    &__wrapper {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__form {
      grid-template-columns: 1fr;
    }
    &__group {
      flex-direction: column;
      row-gap: 20px;
      justify-content: start;
      align-items: start;
    }
    &__btn {
      width: 100%;
    }
    .control {
      max-width: 100%;
    }
  }
}