.get {
  background: url("/img/get-bg.jpg") center center/cover no-repeat;
  min-height: 410px;
  &__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &__header {
    max-width: 950px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }
  &__form {
    margin-top: 33px;
    display: flex;
    column-gap: 35px;
  }
  &__group {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }
  &__input {
    max-width: 320px;
  }
  &__btn {
    width: 225px;
  }
}