@media (max-width: 1580px) {
  .equipment {
    &__content {
      column-gap: 20px;
      row-gap: 50px;
    }
    &__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

@media (max-width: 992px) {
  .equipment {
    &__content {
      display: flex;
      overflow: auto;
    }
  }
}

@media (max-width: 768px) {
  .equipment {
    &__wrapper {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__head {
      flex-direction: column;
      row-gap: 15px;
    }
  }
}