@media (max-width: 1580px) {
  .white-btn {
    font-size: 12px;
    padding: 0 15px;
  }
  .btn {
    font-size: 12px;
    padding: 0 20px;
  }
}


@media (max-width: 1200px) {
  .white-btn {
    font-size: 11px;
    height: 36px;
  }
}