.white-btn {
  border-radius: 300px;
  border: 2px solid #FFF;
  padding: 0 20px;
  color: #FFF;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  justify-content: center;
  line-height: normal;
  font-weight: 600;
  width: max-content;
  width: max-content;
  text-transform: uppercase;
}

.btn {
  color: #FFF;
  background: $red;
  border-radius: 3px;
  padding: 0 30px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  border: none;
  font-weight: 600;
  width: max-content;
  text-transform: uppercase;
  transition: 0.2s all linear;
  &:hover {
    box-shadow: 1px 9px 17px 0px rgba(34, 60, 80, 0.2);
  }
}