* {
  font-family: TT Firs Neue;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background: #FCFCFC;
}

h1 {
  font-size: clamp(28px, 4vw, 46px);
}
h2 {
  font-size: clamp(26px, 4vw, 38px);
}
h3 {
  font-size: clamp(24px, 4vw, 32px);
}
h4 {
  font-size: clamp(22px, 4vw, 26px);
}
h5 {
  font-size: clamp(16px, 4vw, 18px);
}

p {
  font-size: 14px;
}

a {
  color: $black;
  text-underline-offset: 2px;
  &:hover {
    text-decoration: none;
  }
}









.display-none {
  display: none;
}

.object-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.underline-none {
  text-decoration: none;
}

.overflow-hd {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

