* {
  font-family: TT Firs Neue;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background: #FCFCFC;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

a {
  color: $black;
  text-underline-offset: 2px;
  &:hover {
    text-decoration: none;
  }
}









.display-none {
  display: none;
}

.object-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.underline-none {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

