
@media (max-width: 1200px) {
  .action {
    &__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
@media (max-width: 768px) {
  .action {
    &__wrapper {
      padding-bottom: 90px;
    }
    &__slider {
      margin-top: 20px;
    }
    &__title {
      margin-top: 20px;
    }
  }
}

@media (max-width: 576px) {
  .action {
    &__arrows {
      display: none;
    }
    &__slider {
      width: 94%;
    }
    .slick-list {
      overflow: visible !important;
    }
  }
}