.action {
  &__wrapper {
    padding-top: 93px;
    padding-bottom: 77px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__arrows {
    display: flex;
    column-gap: 23px;
  }
  &__slider {
    max-height: 350px;
    height: 100%;
    margin: 0 -11px;
    margin-top: 30px;
  }
  &__title {
    margin-top: 28px;
  }
  &__img {
    position: relative;
  }
  &__play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}