@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Light'), local('TT-Firs-Neue-Light'),
        url('TT300/TTFirsNeue-Light.woff2') format('woff2'),
        url('TT300/TTFirsNeue-Light.woff') format('woff'),
        url('TT300/TTFirsNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }