@import "header/header";

@import "logo/logo";

@import "nav/nav";

@import "banner/banner";

@import "equipment/equipment";

@import "card/card";

@import "get/get";

@import "action/action";

@import "service/service";

@import "footer/footer";

@import "form/form";

@import "contacts/contacts";

@import "ctg-banner/ctg-banner";

@import "breadcrumbs/breadcrumbs";

@import "products/products";

@import "about/about";

@import "partner/partner";

@import "faq/faq";

@import "cart/cart";

@import "product/product";