@media (max-width: 1580px) {
  .product {
    &__wrapper {
      column-gap: 40px;
    }
    &__contents {
      padding-left: 0;
      padding-right: 0;
    }
    &__slider-flex {
      width: 100%;
      height: auto;
    }
    &__slider-img {
      height: auto;
    }

    &__slider-wr {
      display: grid;
      grid-template-columns: 71px calc(100% - 142px) 71px;
      .object-fit {
        object-fit: contain;
      }
    }
  }
}


@media (max-width: 992px) {
  .product {
    &__wrapper {
      grid-template-columns: 240px minmax(300px, 1152px);
    }
  }
}