.title46 {
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.523%;
  margin-bottom: 0;
  color: $black;
}

.title40 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.523%;
  margin-bottom: 0;
  color: $black;
}
.title25 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: $black;
}

.title24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: $black;
}

.title20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%;
  margin-bottom: 0;
  color: $black;
}

.title18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%;
  margin-bottom: 0;
  color: $black;
}

.title16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: $black;
}

.title14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: $black;
}
.title12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: $black;
}

.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}


.white {
  color: #FFF;
}
.red {
  color: $red;
}

.roboto {
  font-family: Roboto;
}