
@media (max-width: 1580px) {
  .title46 {
    font-size: 40px;
  }
  .title40 {
    font-size: 38px;
  }
}

@media (max-width: 1200px) {
  .title46 {
    font-size: 38px;
  }
  .title40 {
    font-size: 36px;
  }
  .title24 {
    font-size: 20px;
    line-height: 22px;
  }
  .title25 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 992px) {
  .title46 {
    font-size: 34px;
  }
  .title40 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .title46 {
    font-size: 30px;
  }
  .title40 {
    font-size: 30px;
  }
}



@media (max-width: 576px) {
  .title46 {
    font-size: 28px;
  }
  .title40 {
    font-size: 28px;
  }
}