.nav {
  &__list {
    display: flex;
    column-gap: 35px;
    margin-bottom: 0px;
    padding-left: 0;
  }
  &__link {
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}